@using System.Globalization
@model  ChaoticRNG01.Models.ChaoticRng

<div class="text-center" id="multiple">
    <h5 id="mloading" hidden>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </h5>
    <p>
      @ChaoticRNG01.Resources.lang.Average: @Model.Average.ToString(CultureInfo.CurrentCulture)
      @ChaoticRNG01.Resources.lang.StdDes: @Model.DesStad.ToString(CultureInfo.CurrentCulture)
    </p>
    @foreach (var item in Model.ArrayNumber)
    {
        <p> @Convert.ToString(item, CultureInfo.CurrentCulture)</p>
    }

</div>
